@import "compass";
@import "breakpoint";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "compass/reset";

@mixin shadow ($style,$style2) {
  @include box-shadow($style,$style2);
}
@mixin center($top,$left) {
  top: $top;
  left: $left;
  transform:translateY(-$top) translateX(-$left);  
}


$pc: max-width 1200px;
$ipad: max-width 768px;
$iphone: max-width 720px;
$iphone5: max-width 321px;

body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}
html,button,input {
  font-family: Arial,Helvetica,sans-serif!important;
  font-size: 16px;
  line-height: 1.42857143;
  color: #000000;
  outline:none;
  letter-spacing: -1px;
}
a {
    text-decoration: none;
}
.wapper {
  position: absolute;
  width: 100%;
}
section {
  width: 100%;
  position: relative; 
  margin-bottom: 20px;
  @include breakpoint($pc) {
    margin-bottom: 10px;
  } 
     @include breakpoint($ipad) {
       overflow-x:hidden; 
    }   
    @include breakpoint($iphone) {
       margin-bottom: 0px;
    } 
}
.container {
    width: 1170px;
    margin: auto;
    overflow: hidden;
    @include breakpoint($pc) {
        width: 98%;
    } 
    @include breakpoint($iphone) {
        width: 95%;
        
    }   
}
iframe {
  height: 700px;
  @include breakpoint($ipad) {
    height: 450px;
  }
  @include breakpoint($iphone) {
    height: 200px;
  }  
}
.choice {
  margin-top: 180px;
  @include breakpoint($pc) {
    margin-top: 9%;
  }   
    @include breakpoint($iphone) {
    margin-top: 20%;
  }  
}
.choice1,.choice2,.choice3 {
  cursor: pointer;
}
.viedo-box {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  @include breakpoint($ipad) {
    padding-top: 30px;
  }
  @include breakpoint($iphone) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.part2 {
  .text-carousel {
    height: 440px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  #text-carousel {
    width: 100%;
    transition: transform 2s;
    position: relative;
  }
  .left,.right {
    width: 50%;
    @include breakpoint($pc) {
      width: 100%;
    }
  }
  .left {
    background-color: #eff2ee;
    margin-right: 2%;
    @include breakpoint($pc) {
      margin-right: 0%;
      margin-bottom: 10px; 
    }
  ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    }
  }
  .arrow {
    position: absolute;
    z-index: 5;
    top: 200px;
    cursor: pointer;
  }
  .go-left{
    left: 25px;
    @include breakpoint($iphone) {
      left: 0px;
    }
  }
  .go-right {
    right: 25px;
    @include breakpoint($iphone) {
      right: 0px;
    }
  }
  li {
    float: left;
    width: 585px;
    @include breakpoint($pc) {
      width: 1185px;
    }
  }
  .content {
    width: 430px;
    margin: 7% auto;
    text-align: justify;
    color: #777777; 
    @include breakpoint($iphone) {
      width: 85%;
    }
    p {
        padding-bottom: 20px;
        line-height: 30px;
    }
    .tittle1{
      font-size: 2rem;
      font-weight: 500;
      padding-top: 10px;
      padding-bottom: 30px;
      text-align: center;
      @include breakpoint($iphone) {
        font-size: 1.3rem;
            padding-bottom: 20px;
      }
    }
  }
  a {
    .more {
    margin: auto;
    width: 100px;
    cursor: pointer;
    color: #828582;
    text-align: center;
    border: #777777 1px solid;
    padding: 5px 3px;
    letter-spacing: 0px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    &:hover {
      background: rgba(119, 119, 119, 0.27);
      border: rgba(119, 119, 119, 0.27) 1px solid;
      color: #fff;
    }
  }
    }
}
.part3 {
    margin-bottom: 0;
    padding: 50px 0px;
    @include breakpoint($iphone) {
      padding: 30px 0px 
    }
   .tittle {
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
    @include breakpoint($iphone) {
      width: 95%;
      margin: auto;
      padding-bottom: 20px;
    }
  } 
}
.part4 {
  .article {
    padding-bottom: 20px;
    display: flex;
    @include breakpoint($pc) {
      flex-direction: column;
      padding-bottom: 0px;
    }
  }
  .photo {
    width: 32%;
    @include breakpoint($pc) {
      width: 100%;
      margin-bottom: 10px;
    }
    @include breakpoint($ipad) {
      margin-bottom: 1px;
    }
  }
  .text {
    background-color: #eff2ee;
    margin: 0px 2%;
    width: 32%;
    color:#828582;
    text-align: center;
    @include breakpoint($pc) {
      width: 100%;
      margin: 0px 0%;
      height: 446px;
      margin-bottom: 15px;
    }
    @include breakpoint($ipad) {
      margin-bottom: 5px;
    }
    @include breakpoint($iphone) {
      height: 490px;
    }    
  }
  .string {
    height: 1px;
    background-color: #828582;
    width: 90%;
    margin: 5% auto 0% auto;
  }
  .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
    p {
        padding-bottom: 20px;
        line-height: 30px;
        width: 90%;
        margin: auto;
    }
    .tittle{
      font-size: 2rem;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 10px;
      @include breakpoint($pc) {
        padding-top: 30px;
      }
      @include breakpoint($ipad) {
        padding-top: 20px;
      }      
    }
    .tittle1{
      font-size: 2rem;
      font-weight: 500;
      padding-top: 10px;
      padding-bottom: 30px;
    }
  .more {
    margin: auto;
    width: 100px;
    cursor: pointer;
    text-align: center;
    border: #777777 1px solid;
    padding: 5px 3px;
    letter-spacing: 0px;
    background: rgba(255, 255, 255, 0);
    &:hover {
      background: rgba(119, 119, 119, 0.27);
      border: rgba(119, 119, 119, 0.27) 1px solid;
      color: #fff;
    }
  }
}

.part6 {
  @include breakpoint($iphone) {
    padding: 20px 0px;
  }     
    p {
        text-align: center;
      @include breakpoint($iphone) {
        font-size: 0.8rem;
      }
   }
 }
 .flex {
  display: flex;
  @include breakpoint($pc) {
        flex-direction: column;
  }
 }

 // animate

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

 @-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@mixin delay($sec) {
    -webkit-animation-delay: $sec;
    animation-delay: $sec;  
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
// @for $i from 1 through 3 {
//   .fadeInLeft#{$i} {
//     -webkit-animation-name: fadeInLeft;
//     animation-name: fadeInLeft;
//     @include delay(#{$i}s);
//   }
//   .fadeInRight#{$i} {
//     -webkit-animation-name: fadeInRight;
//     animation-name: fadeInRight;
//     @include delay(#{$i}s);
//   }          
// }
.more a {
  color: #777777;
}
.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url(../images/loading.gif) no-repeat center center;
}